body {
    font-family:  Arial, Times New Roman,Trebuchet MS, sans-serif;
	/*background-color: black;*/
}

.BoutonDocument {
    position: initial;
}

input[type=button] {
    background : linear-gradient(#0eed6b, #005aa2);/*#53af57*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid;
    cursor: pointer;
}

input[type=button]:hover {
    background : linear-gradient(#005aa2, #0eed6b);/*#53af57*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid;
    cursor: pointer;
}

.lienSommaire {
    color: blue;
    text-decoration: underline;
    line-height: 26px;
}

.corps1, .corps2, .corps3, .corps4, .corps5, .corps6, .corps7, .corps8, .corps9 {
    /*border: 1px solid black;*/
    margin: 0 15px 0 15px;
}

.corpsPresentation {
    font-size: 18px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*grid-template-rows: 400px;*/
    gap: 14px 3px;
    /*text-align: center;*/
    vertical-align: middle;
}

.element1 {
    grid-column: 1;
    text-align: justify;
    padding: 45px 15px 15px 15px;
    align-items: ;
}

.element2 {
    grid-column: 2;
    grid-row: 1;
    padding-right: 13px;
    padding-bottom: 110px;
    padding-top: 102px;
}

/*
.element3 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element4 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element5 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element6 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element7 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element8 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element9 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element10 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element11 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element12 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element13 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element14 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element15 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element16 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element17 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.element18 {
    grid-column: 1 / 3;
    text-align: justify;
    padding: 13px;
}

.listeElement2 {
    list-style-type: disc;
}

.listeElement4 {
    list-style-type: "- ";
}*/